*{
    --test-color: #ff00ff;
    --bgColor--layer0: #020e25;
    --bgColor--layer1: #07132c;
    --bgColor--layer2: #12234c;
    --bgColor--layer3: #19274e;
    --bgColor--layer4: #233562;
    --bgColor--layer5: #2f3f6b;
    --bgColor--layer6: #35456e;
    --bgColor--layer7: #56648b;
    --bgColor--layer8: #69779e;
    --bgColor--layer9: #838faf;
    --bgColor--layer10: #a3adc8;
    --bgColor--layer11: #c2cae7;
    --bgColor--layer12: #d8ddf1;

    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}